body{
    margin: 0%;
    padding: 0;
    overflow-x: hidden;
    
}
/*-----nav bar----*/
.navbar{
    left: 1%;
    width: 89%;
    top: 0;
    background-color: rgb(246, 249, 252);
    z-index: 10;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
}
.nav link:hover{
    background-color: blue;
}
.nav listingdropdown li{
    word-spacing: 50px;
    
}
.nav listingdropdown li a{
    width: 100%;
    left: 5%;
    word-spacing: 50px;
}
/*----home---*/
.text  .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
  
.text{
    top: 20ch;
    position: absolute;
    left: 8ch;
    float: left;
}
/*---about---*/
.about1{
    position: absolute;
    left: 5ch;
    padding: 20px 20px;

}
.btn1{
    text-align: center;
    left: 65ch;
    top: 130%;
}
.value{
    text-align: center;
    left: 55ch;
    top: 160%;
}
.container1 row col{
    word-spacing: 10px;

}
.container1 .card{
    justify-content: center;
    
}
.cilents{
    box-shadow: 2px 2px 5px silver;
    width: 50%;
}
.i{
    font-size: xx-large;
    justify-content: left;
    
}
.icon{
    width: 70%;
    height: 100%;
    box-shadow: 2px 2px 5px silver;


}
.icon .i{
    font-size: xx-large;
    justify-content: left;
    
}
/*------services---*/
.Services{
    text-align: center;
    left: 65ch;
    
}
.check{
    text-align: center;
    left: 45ch;


}
.row{
    padding: 30px 30px 30px 30px;
    width: 100%;
    height: 100%;
    text-align: center;

}
.card2{
    word-spacing: 30%;

}
.card1{
    top: 5%;
    font-size: xx-large;
    border: 0px 0px 0px 10px;
    padding: 0px 0px 0px  rgb(10, 152, 247);


}
.card5{
    justify-content: center;
}
.card1:hover{
    background-color: rgb(79, 199, 247);

}
.heart{
    top: 7%;
    font-size: 27px;
    text-align: center;
    border-bottom-width: 5px;
    left: 5%;
    width: 30%;
    height: 20%;
    background-color: #f3eded;
    box-sizing: border-box;
    margin-left: 30%;
    margin-top: 5%;


}

.card2{
    top: 5%;
    font-size: xx-large;
    border: 0px 0px 0px 10px;
    padding: 10px 10px 10px  rgb(10, 152, 247);
    border-bottom-width: 5px;


}
.card2:hover{
    background-color: purple;

}
.heart1{
    top: 9%;
    font-size: large;
    border-bottom-width: 5px;
    margin-left: 30%;
    margin-top: 5%;

    width: 30%;
    height: 20%;
    background-color: #f3eded;
    box-sizing: border-box;

}

.card3{
    top: 5%;
    font-size: xx-large;
    border: 0px 0px 0px 10px;
    padding: 10px 10px 10px  rgb(10, 152, 247);
    border-bottom-width: 5px;




}
.heart3{
    top: 9%;
    font-size: large;
    border-bottom-width: 5px;
    margin-left: 30%;
    margin-top: 5%;

    width: 30%;
    height: 20%;
    background-color: #f3eded;
    box-sizing: border-box;


}
.card3:hover{
    background-color: orangered;

}
.pricing{
    text-align: center;
    left: 55ch;
}
.pricing1{
    text-align: center;
    left: 45ch;


}
.cardfun{
    box-shadow: 2px 2px 5px silver;


}
.cardfun .square{
    font-size: xx-large;
    word-spacing: 10px;
}
.cardfun:hover{
    transform: scale(1.1);
}
/*----portfolio---*/
.port{
    text-align: center;
    left: 55ch;
}
.work{
    text-align: center;
    left: 45ch;
}
.products{
    word-spacing: 10px;
    left: 45ch;

}
.products:hover{
    color: blue;
}
.cardimg{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;

}
.cardimg:before{
    content: "";
    position: absolute;
    background: linear-gradient(to right  rgb(228, 224, 224));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4 linear;

}
.cardimg:hover{
    opacity: 1;
    background-color: rgba( 0,0,0,.5);
}
.cardimg:hover img{
    opacity: 0;
    background-color: rgba( 0,0,0,.5);
    transform: translateY(-10%) scale(0);

}
.cardimg .box-content{
    transform: translateY(-10%) scale(0);
    color: rgba( 0,0,0,.5);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.5s linear;




}
.cardimg:hover .box-content{
    transform: translateY(-10%) scale(1);



}

.cardimg .link{
    list-style-type: none;
    position: absolute;
    border: 15px;
    top: 70%;
    left: 40%;
    transition: all 0.5s linear;
    transform: translateY(-10%) scale(0);
    display: inline;
    font-size: x-large;
}
.cardimg:hover .link{
    transform: translateY(-10%) scale(1);
}
/*-------team------*/
.team{
    text-align: center;
    left: 55ch;
}
.what{
    text-align: center;
    left: 45ch;
}
/*--------contact---------*/
.team3{
    text-align: center;
    left: 55ch;
}
.cont{
    text-align: center;
    left: 45ch;
}
.address{
    width: 100%;
    height: 90%;
    background-color: rgb(234, 232, 240);
    text-align: left;
    margin: 10px 10px;
    padding: 20px 20px ;
    margin-bottom: 40px;

}
.call{
    width: 100%;
    height: 90%;
    background-color: rgb(234, 232, 240);
    text-align: left;
    margin: 10px 10px;
    padding: 20px 20px;
    margin-bottom: 40px;




}
.email2{
    width: 100%;
    height: 90%;
    background-color: rgb(234, 232, 240);
    text-align: left;
    margin: 10px 10px;
    padding: 20px 20px;
    margin-bottom: 40px;

}
.hours{
    width: 100%;
    height: 90%;
    background-color: rgb(234, 232, 240);
    text-align: left;
    margin: 10px 10px;
    padding: 20px 20px;



}
.message2 input{
    width: 80%;
    height: 50px;
    margin-top: 20px;
}                                                                                       
.message{
    width: 120%;
    background-color: rgb(234, 232, 240);
    padding: 20px 20px;
    height: 100%;

}
.message input{
    padding: 10px 10px 10px 30px;
}
.message1{
    box-sizing: border-box;
    border-width: 100%;

    height: 20%;

}



.subject input{
    width: 80%;
    height: 50px;
}

.message1 input{
    width: 80%;
    height: 100px;
}
.join{
    width: 100%;
    height: 180%;
    background-color: rgb(234, 232, 240);
    box-shadow: 2px 2px 5px silver;
    text-align: center;
    left: 5%;
    padding: 10px 10px 10px 10px;
    border-bottom: 20px blue;


}
.Flexstart{
    text-align: justify;

}
.copy{
    text-align: center;
}
.arrow{
    right: 5%;

    bottom: 5%;
    position: fixed;
}





